name: review-dog

on:
  pull_request:
    branches: [ main, dev ]
    paths:
      - 'grow-snap-backend/**'

permissions:
  pull-requests: write
  contents: read

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission
        run: chmod +x grow-snap-backend/gradlew

      - name: Build detekt
        run: cd grow-snap-backend && ./gradlew detekt

      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cat grow-snap-backend/build/reports/detekt/detekt.xml | reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review" -level="info"